@inherits BasicGameView<A21DiceGameMainViewModel>
<div style="height: 22vh">
    <GameButtonComponent CommandObject="RollCommand" Display="Roll Dice" />
    <GameButtonComponent CommandObject="EndCommand" Display="End Turn" />
    <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
</div>
<LabelGridComponent DataContext="DataContext.VMData" Labels="_labels" />
<div>
    <ScoreBoardBlazor P="A21DiceGamePlayerItem" Columns="@_scores" Players="@DataContext!.PlayerList" />
</div>