@inherits BasicGameView<RookMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <ScoreBoardBlazor P="RookPlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
    </StackItem>
    <StackItem>
        <LabelGridComponent DataContext="_vmData" Labels="_labels" />
    </StackItem>
    <StackItem>
       @if (DataContext.GameStatus == EnumStatusList.Bidding)
       {
            <BiddingComponent DataContext="DataContext" />
       }
       @if (DataContext.GameStatus == EnumStatusList.ChooseTrump)
       {
            <TrumpComponent DataContext="DataContext" />
       }
       @if (DataContext.GameStatus == EnumStatusList.SelectNest)
       {
            <GameButtonComponent CommandObject="ChooseNestCommand" Display="Choose Nest Cards" />
       }
       @if (DataContext.GameStatus == EnumStatusList.Normal)
       {
            <SeveralPlayersTrickBlazor DataContext="_vmData.TrickArea1" />
       }
    </StackItem>
</StackLayout>
<div>
    <HandBlazor TargetContainerSize="95vw" Hand="_vmData.PlayerHand1" />
</div>
<div>
    <HandBlazor Hand="_vmData.Dummy1" />
</div>