@inherits BasicGameView<ClueCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <HandBlazor Hand="_vmData.PlayerHand1" />
    </StackItem>
    <StackItem>
        <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
    </StackItem>
    <StackItem Length="650px">
        <LabelGridComponent DataContext="_vmData" Labels="_labels" />
        <StackLayout>
            <StackItem Length="1fr">
                <GameButtonComponent Display="@MakeDisplay" Width="100%" CommandObject="MakeCommand" />
            </StackItem>
            <StackItem Length="1fr">
                <GameButtonComponent Display="End Turn" Width="100%" CommandObject="EndTurnCommand" />
            </StackItem>
            <StackItem Length="1fr">
                <GameButtonComponent Display="@ToggleDisplay" Width="100%" CommandObject="ToggleCommand" />
            </StackItem>
        </StackLayout>
        
        
        
    </StackItem>
    <StackItem Style="margin-left: 10px;">
        <div style="font-weight: bold;">
            Play Order
        </div>
        @foreach (var item in _players)
        {
            <div style="@GetStyle(item)">
                @item.NickName
            </div>
        }
    </StackItem>
</StackLayout>
@if (_vmData.Accusation.Visible == false)
{
    <HandBlazor Hand="_vmData.Prediction" />
}
<HandBlazor Hand="_vmData.Accusation" />
<BasicNotebookComponent
    AddCommand="AddCommand"
    PersonalNotebook="_gameContainer.DetectiveDetails!.PersonalNotebook"
    
    />