@inherits BasicGameView<ClueCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <HandBlazor Hand="_vmData.PlayerHand1" />
    </StackItem>
    <StackItem>
        <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
    </StackItem>
    <StackItem Length="400px">
        <LabelGridComponent DataContext="_vmData" Labels="_labels" />
        <GameButtonComponent Display="Make Prediction" CommandObject="MakePredictionCommand" />
        <GameButtonComponent Display="End Turn" CommandObject="EndTurnCommand" />
    </StackItem>
    <StackItem>
        <div style="font-weight: bold;">
            Play Order
        </div>
        @foreach (var item in _players)
        {
            <div style="@GetStyle(item)">
                @item.NickName
            </div>
        }
    </StackItem>
</StackLayout>
@if (_vmData.Accusation.Visible == false)
{
    <HandBlazor Hand="_vmData.Prediction" />
}
<HandBlazor Hand="_vmData.Accusation" />
<BasicNotebookComponent
    PredictCommand="AddPredictionCommand"
    PersonalNotebook="_gameContainer.DetectiveDetails!.PersonalNotebook"
    
    />