@inherits BasicGameView<PickelCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<div>
    <DeckOfCardsTwoPlayerTrickBlazor T="PickelCardGameCardInformation" DataContext="_vmData.TrickArea1" />
</div>
<div>
    <DeckOfCardsHandBlazor R="PickelCardGameCardInformation" Hand="_vmData.PlayerHand1" />
</div>
<div>
    <LabelGridComponent DataContext="_vmData" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="PickelCardGamePlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
</div>