@if (DataContext == null)
{
    return;
}
<div>
    <BidControl />
</div>
<div>
    <DeckOfCardsHandBlazor R="PickelCardGameCardInformation"
        AdditionalSpacing="1"
        Hand="DataContext.Model.PlayerHand1" />
</div>