@inherits BasicGameView<BladesOfSteelMainViewModel>
@if (VMData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <ScoringGuideBlazor />
    </StackItem>
    <StackItem>
        <ScoreBoardBlazor P="BladesOfSteelPlayerItem"
                          Columns="_scores"
                          Players="_gameContainer!.SaveRoot.PlayerList" />
    </StackItem>
</StackLayout>
<div>
    Instructions:
</div>
<div>
    @VMData.Instructions
</div>
<GridContainer Inline="true"
               Rows="@GetRows()"
               Columns="@GetColumns()"
               RowGap="10px">
    <GridItem>
        <StackLayout>
            <StackItem>
                <DeckOfCardsDrawPileBlazor R="RegularSimpleCard" DeckPile="VMData.Deck1" />
            </StackItem>
            <StackItem>
                <DeckOfCardsSingleMiscPileBlazor R="RegularSimpleCard" SinglePile="VMData.Pile1" />
            </StackItem>
        </StackLayout>
    </GridItem>
    <GridItem Column="2">
        <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="VMData.OpponentAttackPile" />
    </GridItem>
    <GridItem Column="3">
        <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="VMData.OpponentDefensePile" />
    </GridItem>
    <GridItem Row="2" Column="1">
        <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="VMData.MainDefense1" />
    </GridItem>
    <GridItem Row="2" Column="2">
        <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="VMData.YourAttackPile" />
    </GridItem>

    <GridItem Row="2" Column="3">
        <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="VMData.YourDefensePile" />
    </GridItem>
</GridContainer>
<StackLayout>
    <StackItem>
        <GameButtonComponent CommandObject="EndCommand"
                             Display="End Turn" />
        <GameButtonComponent CommandObject="PassCommand"
                             Display="Pass" />
    </StackItem>
    <StackItem>
        <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="VMData.PlayerHand1" />
    </StackItem>
    <StackItem>
        <LabelGridComponent DataContext="VMData" Labels="_labels" />
    </StackItem>
</StackLayout>