@inherits BasicGameView<ChineseCheckersMainViewModel>
<StackLayout>
    <StackItem Length="40vw">
        <GameButtonComponent Display="End Turn" StartOnNewLine="true" CommandObject="EndCommand" />
        <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
    </StackItem>
    <StackItem>
        <div style="margin-top: 5px">
            <GameBoardBlazor TargetHeight="86vh"
                             Graphics="_graphics"
                             Container="_container" />
        </div>
    </StackItem>
</StackLayout>