<GamePackageFullScreen>
    <div>
        <GameButtonComponent Display="Close Score Guide" CustomCallBack="PrivateClose" />
    </div>
    <div>
        <ScoreGuideComponent />
    </div>
</GamePackageFullScreen>
