@inherits BasicGameView<RoundsCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <DeckOfCardsDrawPileBlazor R="RoundsCardGameCardInformation" DeckPile="_vmData.Deck1" />
    </StackItem>
    <StackItem>
        <DeckOfCardsSingleMiscPileBlazor R="RoundsCardGameCardInformation" SinglePile="_vmData.Pile1" />
    </StackItem>
</StackLayout>
<div>
    <DeckOfCardsTwoPlayerTrickBlazor T="RoundsCardGameCardInformation" DataContext="_vmData.TrickArea1" />
</div>
<div>
    <DeckOfCardsHandBlazor R="RoundsCardGameCardInformation" Hand="_vmData.PlayerHand1" />
</div>
<div>
    <LabelGridComponent DataContext="_vmData" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="RoundsCardGamePlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
</div>