@inherits BasicGameView<SorryDicedGameMainViewModel>
<StackLayout>
    <StackItem Length="80vh">
        <GameButtonComponent Display="End Turn" CommandObject="EndCommand" />
        <GameButtonComponent Display="Roll Dice" CommandObject="RollCommand" />
        <CompleteDiceRollerComponent ImageHeight="15vh" DiceCommand="DiceCommand" />
        <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
        <CompleteStartComponent ImageHeight="6vh"
                                BoardList="DataContext!.MainGame.SaveRoot.BoardList"
                                StartPieceChosen="ChooseStartCommand"
                                Players="DataContext!.MainGame.PlayerList" />
    </StackItem>
    <StackItem>
        <CompletePlayerBoardComponent ImageHeight="6vh"
            BoardList="DataContext!.MainGame.SaveRoot.BoardList"
            HomeCommand="HomeCommand"
            WaitingCommand="WaitingCommand"
            Players="@GetPlayerBoards()"  />
        @if (SorryDicedGameGameContainer.IsGameOver == false)
        {
            <div>
                <ScoreBoardBlazor P="SorryDicedGamePlayerItem" Players="DataContext!.MainGame.PlayerList" Columns="_scores" />
            </div>
            return;
        }
    </StackItem>
</StackLayout>