@inherits BasicGameView<SorryDicedGameMainViewModel>
<p>Welcome to SorryDicedGame</p>
<GameButtonComponent Display="End Turn" CommandObject="EndCommand" />
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />