@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
html, body, div {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.beginning {
    flex: 1;
    user-select: none;
}

button:disabled {
    color: lightgray;
}

.layout {
    flex: 1;
}

.horizontalDiv {
    display: inline;
}

fieldset {
    border-color: white;
    border-width: 2px;
    border-radius: 4px;
    border-style: groove;
    display: inline-block;
    box-sizing: initial;
    border-image: initial;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0px;
    padding-inline-start: 2px;
    padding-inline-end: 0px;
    padding-block-end: 0px;
}

legend {
    width: initial;
    max-width: initial;
    margin-bottom: initial;
    font-size: initial;
    line-height: initial;
    white-space: initial;
    border-bottom: none;
}

.scrollableField {
    overflow: auto;
}

.fullframe {
    display: block;
}

.centerText {
    text-align: center;
}