@page "/"
<GamePackageFullScreen>
    @if (CanStartLoading() == false)
    {
        <div>
            Sorry, native apps are no longer supported for the game package except for single player games because many issues.
        </div>
        return;
    }
    @if (_loadedOnce == false)
    {
        <div>Loading Game Package Loader........</div>
        return;
    }
    @if (DataContext!.GameList.Count == 0)
    {
        return;
    }
    @if (_updateAvailable)
    {
        <div>
            <GameButtonComponent CustomCallBack="RefreshAsync" Display="Update Available - Click to Refresh" />
        </div>
        return;
    }
    @if (DataContext.GameName == "")
    {
        @if (_showSettings)
        {
            <GameSettingsComponent CloseSettings="ClosedSettings" />
            return;
        }
        <LeftOverLayout>
            <TopContent>
                @if (GlobalClass.Multiplayer)
                {
                    <StackLayout>
                        <StackItem>
                            <GameButtonComponent CustomCallBack="OpenSettings" Display="Show Settings" />
                        </StackItem>
                        <StackItem>
                            <GameButtonComponent CustomCallBack="RefreshAsync" Display="Refresh Manually" />
                        </StackItem>
                        @if (_previousGame != "")
                        {
                            <StackItem>
                                <GameButtonComponent CustomCallBack="OpenPreviousGame" Display="@_previousGame" />
                            </StackItem>
                        }
                        <StackItem>
                            <div style="font-size: 3vh; margin-top: 10px;">
                                Version @GlobalClass.Version
                            </div>
                        </StackItem>
                        
                    </StackLayout>  
                }
            </TopContent>
            <MainContent>
                @if (CanShowGameList())
                {
                    <WrapLayout ColumnWidth="22vw" Margins="3px" RenderList="DataContext.GameList" Context="game">
                        <GameButtonComponent Width="95%" CustomCallBack="() => DataContext.ChoseGame(game)" Display="@game" />
                    </WrapLayout>
                }
            </MainContent>
        </LeftOverLayout>
        return;
    }
    @DataContext.GameRendered
</GamePackageFullScreen>