@inherits BasicGameView<CountdownMainViewModel>
<div>
    <GameBoardBlazor GameContainer="_gameContainer"
                     TargetHeight="25vh" />
</div>

<div class="@cc1." style="height: 22vh; display: flex; align-items: center;">
    <GameButtonComponent CommandObject="EndCommand" Display="End Turn" />
    <GameButtonComponent CommandObject="HintsCommand" Display="Show Hints" />
    <DiceListConrolBlazor D="CountdownDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
</div>
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />