@inherits BasicGameView<CribbagePatienceMainViewModel>
@if (DataContext!.DeckPile != null)
{
    <div class="firstGrid">
        <div>
            <StackLayout>
                <StackItem>
                    <DeckOfCardsDrawPileBlazor R="CribbageCard" DeckPile="DataContext.DeckPile" />
                </StackItem>
                <StackItem>
                    <DeckOfCardsSingleMiscPileBlazor R="CribbageCard" SinglePile="DataContext.StartPile" />
                </StackItem>
            </StackLayout>
            <div>
                <DeckOfCardsHandBlazor R="CribbageCard" Hand="DataContext.Hand1" />
            </div>
            <StackLayout>
                <StackItem>
                    <GameButtonComponent CommandObject="DataContext.CribCommand" Display="To Crib" />
                </StackItem>
                <StackItem>
                    <GameButtonComponent CommandObject="DataContext.ContinueCommand" Display="Continue" />
                </StackItem>
            </StackLayout>
        </div>
        <div class="grid-container">
            <ScoreSummaryUI Scores="DataContext.Scores!.ScoreList" />
            <ScoreHandCribUI Score="DataContext.GetScoreHand(EnumHandCategory.Crib)" />
            <ScoreHandCribUI Score="DataContext.GetScoreHand(EnumHandCategory.Hand1)" />
            <ScoreHandCribUI Score="DataContext.GetScoreHand(EnumHandCategory.Hand2)" />
        </div>
    </div>
}