@inherits BasicGameView<MinesweeperOpeningViewModel>
<div style="margin-top:5px;">
    <ListChooserBlazor ListPicker="DataContext!.LevelPicker" />
    <p>Mines Needed @DataContext.HowManyMinesNeeded</p>
</div>