@inherits BasicGameView<GameBoardViewModel>
@if (DataContext == null || DataContext.GuessList.Count == 0)
{
    return;
}
<StackLayout ItemSpacing="20px">
    <StackItem>
        @foreach (var guess in DataContext.GuessList)
        {
            <div>
                <GuessUI Guess="@guess" />
            </div>
        }
    </StackItem>
    <StackItem>
        @foreach (var guess in DataContext.GuessList)
        {
            <div>
                <HintUI YourGuess="@guess" />
            </div>
        }
    </StackItem>
</StackLayout>