@inherits BasicGameView<MastermindMainViewModel>
<StackLayout ItemSpacing="10px">
    <StackItem>
        <ParentControl VM="GameBoardViewModel">
            <GameBoardView />
        </ParentControl>
    </StackItem>
    <StackItem Style="background-color: brown;">
        <EnumPickerBlazor E="EnumColorPossibilities" Context="Piece" Rows="10" TargetSize="11vh" ListPicker="DataContext!.Color1">
            <CirclePiece MainColor="@Piece.GetColorFromEnum()" />
        </EnumPickerBlazor>
    </StackItem>
    <StackItem>
        <div>
            <GameButtonComponent CommandObject="DataContext!.AcceptCommand" AfterChange="@ShowChange" Display="Accept" />
        </div>
        <div>
            <GameButtonComponent CommandObject="DataContext.GiveUpCommand" AfterChange="@ShowChange" Display="Give Up" />
        </div>
        <div>
            Level Chosen: @DataContext!.LevelChosen
        </div>
    </StackItem>
</StackLayout>