@inherits BasicGameView<MastermindOpeningViewModel>
Choose Level:
<div>
    <ListChooserBlazor ListPicker="DataContext!.LevelPicker" />
</div>
<div>
    <GameButtonComponent Display="Level Information" CommandObject="DataContext.LevelInformationCommand" AfterChange="ShowChange" />
</div>