@inherits SimpleActionView

@if (CompleteContainer == null || DataContext == null)
{
    return;
}
<FinalActionLayout>
    <HandBlazor D="FluxxCardInformation" Hand="CompleteContainer.ActionContainer.TempHand" />
    <div>
        <GameButtonComponent CommandObject="DrawUseCommand"
                             StartOnNewLine="true"
                             Display="Choose Card" />
        <KeeperButton K="ActionDrawUseViewModel" @key="GetKey"  StartsOnNewLine="true" />
    </div>
</FinalActionLayout>