@if (GameData == null || TestData == null || BasicData == null)
{
    if (GameData == null)
    {
        <div>No Game Data</div>
    }
    if (TestData == null)
    {
        <div>No Test Data</div>
    }
    if (BasicData == null)
    {
        <div>No Basic Data</div>
    }
    return;
}
<ParentControl VM="ConnectTheDotsMainViewModel">
    <ConnectTheDotsMainView />
</ParentControl>
<ParentControl VM="MultiplayerOpeningViewModel<ConnectTheDotsPlayerItem>">
    <MultiplayerOpeningView P="ConnectTheDotsPlayerItem" />
</ParentControl>
<ParentControl VM="BeginningChooseColorViewModel<EnumColorChoice, ConnectTheDotsPlayerItem>">
    
    <BeginningChooseColorView E="EnumColorChoice" Context="Piece" P="ConnectTheDotsPlayerItem">
        @* if there is another piece, replace with proper piece. *@
        <CheckerPiece HasImage="true" PieceCategory="EnumCheckerPieceCategory.OnlyPiece" MainColor="@GetColor(Piece.EnumValue)" />
    </BeginningChooseColorView>
</ParentControl>