@inherits BasicGameView<RollEmMainViewModel>
<StackLayout ItemSpacing="10px">
    <StackItem>
        <GameBoardBlazor BoardData="_boardData"
                         TargetHeight="85vh" />
    </StackItem>
    <StackItem>
        <div style="height: 22vh">
            <GameButtonComponent CommandObject="RollCommand" Display="Roll Dice" />
            <GameButtonComponent CommandObject="EndCommand" Display="End Turn" />
            <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
        </div>
        <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
        <div>
            <ScoreBoardBlazor P="RollEmPlayerItem" Columns="@_scores" Players="@DataContext!.PlayerList" />
        </div>
    </StackItem>
</StackLayout>