@typeparam D
@typeparam LI
@if (BoneyardPile == null || ChildContent == null)
{
    return;
}
@{ 
    int x = 1;
    if (x == 1)
    {
        
    }
}
<BaseFrameBlazor @key="BoneyardPile" IsEnabled="BoneyardPile.IsEnabled" Text="@BoneyardPile.TextToAppear">
    <div @onclick="BoardClickedAsync" class="boneyardrelative">
        @ChildContent
    </div>
</BaseFrameBlazor>