@inherits BasicGameView<MonopolyDicedGameMainViewModel>
<StackLayout>
    <StackItem>
        <GameBoardBlazor NumberOfCops="_container!.SaveRoot.NumberOfCops"
                         TargetHeight="75vh"
                         HouseDice="_house"
                         HousesOwned="_container.SaveRoot.NumberOfHouses"
                         HasHotel=_container.SaveRoot.HasHotel
                         MiscList="DataContext!.VMData.OtherActions"
                         OwnList="_container.SaveRoot.Owns"
                         UtilityClicked="SampleClickUtility"
                         TrainClicked="SampleClickTrain"
                         PropertyClicked="SamplePropertyClicked"
                         IsEnabled = "true"
                         ImageHeight="9vh" />
    </StackItem>
    <StackItem>
        <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />

        <GameButtonComponent Display="Roll Dice" CommandObject="RollDiceCommand" />

        @* @if (CanTestRoll())
        {
            <GameButtonComponent Display="Test Roll Misc" CustomCallBack="TestRollMiscAsync" />
        }
        else
        {
            <GameButtonComponent Display="Clear Test Roll" CustomCallBack="ClearTestRoll" />
        } *@
        
        @* @if (CanTestRoll())
        {
            <GameButtonComponent Display="Test Roll" CustomCallBack="TestRollAsync" />
        }
        else
        {
            <GameButtonComponent Display="Clear" CustomCallBack="Clear" />
        } *@
        <div>
            <MonopolyListBlazor OnDiceClick=OnTestDiceClick DiceList="@_container!.SaveRoot.DiceList" ImageHeight="9vh" />
        </div>
    </StackItem>
</StackLayout>