@inherits BasicGameView<MonopolyDicedGameMainViewModel>
<p>Welcome to MonopolyDicedGame</p>
<GameBoardBlazor TargetHeight="75vh" ImageHeight="9vh" />

<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />