@if (GameData == null || TestData == null || BasicData == null)
{
    if (GameData == null)
    {
        <div>No Game Data</div>
    }
    if (TestData == null)
    {
        <div>No Test Data</div>
    }
    if (BasicData == null)
    {
        <div>No Basic Data</div>
    }
    return;
}
<ParentControl VM="SequenceDiceMainViewModel">
    <SequenceDiceMainView />
</ParentControl>
<ParentControl VM="MultiplayerOpeningViewModel<SequenceDicePlayerItem>">
    <MultiplayerOpeningView P="SequenceDicePlayerItem" />
</ParentControl>
<ParentControl VM="BeginningChooseColorViewModel<EnumColorChoice, SequenceDicePlayerItem>">

    <BeginningChooseColorView E="EnumColorChoice" Context="Piece" P="SequenceDicePlayerItem">
        @* if there is another piece, replace with proper piece. *@
        <CheckerPiece HasImage="true" PieceCategory="EnumCheckerPieceCategory.OnlyPiece" MainColor="@GetColor(Piece.EnumValue)" />
    </BeginningChooseColorView>
</ParentControl>