@if (GameData == null)
{
    return;
}
<CascadingValue Value="GameData.PublicPiles1">
    <div @onclick="() => NewClickedAsync()" style="height: @RealHeight; width: 100vw">
        <StackLayout ItemSpacing="0px">
            @foreach (var pile in GameData.PublicPiles1.PileList)
            {
                <StackItem>
                    <div style="position: relative">
                        <IndividualPileBlazor IndividualPile="pile" />
                    </div>
                </StackItem>
            }
        </StackLayout>
    </div>
</CascadingValue>