@inherits BasicGameView<ConnectFourMainViewModel>
@using cc = CommonBasicLibraries.BasicDataSettingsAndProcesses.SColorString
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
<div>
    <GridGameBoard SpaceList="DataContext!.GetBoardList"
                   TargetSpaceHeight="95"
                   TargetSpaceWidth="95"
                   GridWidth="100%"
                   GridHeight="80vh"
                   S="SpaceInfoCP">
        <ItemTemplate Context="Space">
            <BasePieceGraphics LongestSize="95" CommandObject="ColumnCommand" CommandParameter="Space" AfterChange="ShowChange">
                <CheckerPiece BlankColor="@cc.Aqua" HasImage="@Space.HasImage" MainColor="@Space.Color" PieceCategory="EnumCheckerPieceCategory.OnlyPiece" />
            </BasePieceGraphics>
        </ItemTemplate>
        <Canvas>
            <AnimationVectorCanvas S="SpaceInfoCP" Context="Space">
                <AnimateCheckers Color="@Space.Color" LongestSize="95" PieceCategory="EnumCheckerPieceCategory.OnlyPiece" />
            </AnimationVectorCanvas>
        </Canvas>
    </GridGameBoard>
</div>