@if (GameData == null || TestData == null || BasicData == null)
{
    if (GameData == null)
    {
        <div>No Game Data</div>
    }
    if (TestData == null)
    {
        <div>No Test Data</div>
    }
    if (BasicData == null)
    {
        <div>No Basic Data</div>
    }
    return;
}
<ParentControl VM="PlainBoardGamesMultiplayerMainViewModel">
    <PlainBoardGamesMultiplayerMainView />
</ParentControl>
<ParentControl VM="MultiplayerOpeningViewModel<PlainBoardGamesMultiplayerPlayerItem>">
    <MultiplayerOpeningView P="PlainBoardGamesMultiplayerPlayerItem" />
</ParentControl>
<ParentControl VM="BeginningChooseColorViewModel<EnumColorChoice, PlainBoardGamesMultiplayerPlayerItem>">
    
    <BeginningChooseColorView E="EnumColorChoice" Context="Piece" P="PlainBoardGamesMultiplayerPlayerItem">
        @* if there is another piece, replace with proper piece. *@
        <CheckerPiece HasImage="true" PieceCategory="EnumCheckerPieceCategory.OnlyPiece" MainColor="@GetColor(Piece.EnumValue)" />
    </BeginningChooseColorView>
</ParentControl>