@inherits BasicGameView<FroggiesOpeningViewModel>
<p style="font-size: 2em">Choose How Many Frogs</p>
<div>
    <NumberChooserBlazor TextHeight="13vh" NumberPicker="DataContext!.LevelPicker" />
</div>