@inherits BasicGameView<DominosRegularMainViewModel>
<BaseBoneyardPileBlazor D="SimpleDominoInfo" BoneyardPile="DataContext!.BoneYard" LI="DominosBasicShuffler<SimpleDominoInfo>">
    <BasicDominoBlazor D="SimpleDominoInfo" DeckObject="GetDomino" TargetHeight="10vh" />
</BaseBoneyardPileBlazor>
<div>
    <DominosGameBoardBlazor DataContext="DataContext.GetBoard" />
</div>
<div>
    <BaseHandBlazor TargetContainerSize="95vw" Hand="DataContext.PlayerHand" Divider="1.1" Context="Domino" D="SimpleDominoInfo">
        <BasicDominoBlazor D="SimpleDominoInfo" TargetHeight="@GetTargetString" DeckObject="Domino" CommandObject="DataContext.PlayerHand.ObjectSingleClickCommand" CommandParameter="Domino" />
    </BaseHandBlazor>
</div>
<div>
    <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="DominosRegularPlayerItem" Players="DataContext.GetPlayerList" Columns="_scores" />
</div>
<div>
    <GameButtonComponent Display="End Turn" CommandObject="EndTurnCommand" />
</div>