@inherits BasicGameView<CarpetSolitaireMainViewModel>
@if (DataContext!.DeckPile != null)
{
    <GridTwoByTwo>
        <GridItem>
            <StackLayout>
                <StackItem>
                    <DeckOfCardsDrawPileBlazor R="SolitaireCard" DeckPile="DataContext.DeckPile" />
                </StackItem>
                <StackItem>
                    <DeckOfCardsSingleMiscPileBlazor R="SolitaireCard" SinglePile="DataContext.MainDiscardPile" />
                </StackItem>
            </StackLayout>
        </GridItem>
        <GridItem Column="2">
            <DeckOfCardsMultiplePilesBlazor R="SolitaireCard" Piles="@GetMainPiles()" />
        </GridItem>
        <GridItem Row="2">
            <LabelGridComponent DataContext="@DataContext" Labels="@_labels" />
            <div>
                <GameButtonComponent CommandObject="DataContext.AutoMoveCommand" Display="Auto Make Move" />
            </div>
        </GridItem>
        <GridItem Row="2" Column="2">
            <DeckOfCardsMultiplePilesBlazor R="SolitaireCard" Piles="@GetWastePiles()" />
        </GridItem>
    </GridTwoByTwo>
}