<div>
    <SvgBoard BoardSize="new(150, 20)"
              TargetHeight="6vh">
        <CenteredTextBlazor Text="@Text" 
                            BorderColor="@cc.Black" 
                            TextColor="@cc.Aqua" 
                            FontSize="20"
                            BorderWidth="1" />
    </SvgBoard>
</div>
<div>
    <SvgBoard BoardSize="new(99, 33)"
              TargetHeight="14vh">
        @ChildContent
    </SvgBoard>
</div>