<div style="height: @ImageHeight; margin-bottom: 4px;">
    <StackLayout>
        @foreach (var item in DiceList)
        {
            <StackItem>
                <SorryDiceComponent TargetHeight="@ImageHeight" 
                    CommandObject="DiceCommand"
                    CommandParameter="item"
                    Dice="item" />
            </StackItem>
        }
    </StackLayout>
</div>