@if (HowMany > 4)
{
    <div>
        Cannot have more than 4 pawn pieces
    </div>
    return;
}
<GridTwoByTwo ColumnLength="@Columns">
    <GridRepeater TotalColumns="2" TotalRows="2" Context="item">
        <GridItem Column="item.column" Row="item.row">
            @{
                bool hasPiece = item.index < HowMany;
            }
            <SorrySpaceComponent ColorUsed="@ColorUsed" ImageHeight="@ImageHeight" HasPiece=@hasPiece OnClick="PrivateColorClick" />
        </GridItem>
    </GridRepeater>
</GridTwoByTwo>