@inherits LayoutComponentBase
@using BasicBlazorLibrary.Components.Toasts
@using BasicBlazorLibrary.Layouts;
@using BasicBlazorLibrary.Components.MediaQueries.ParentClasses
<MediaQueryListComponent>
    <MainPage>
        <BlazoredToasts Timeout="3" />
            <StartLayout>
                <div class="beginning">
                    @Body
                </div>
            </StartLayout>
    </MainPage>
</MediaQueryListComponent>

