@if (GameData == null || TestData == null || BasicData == null)
{
    if (GameData == null)
    {
        <div>No Game Data</div>
    }
    if (TestData == null)
    {
        <div>No Test Data</div>
    }
    if (BasicData == null)
    {
        <div>No Basic Data</div>
    }
    return;
}
<ParentControl VM="SorryMainViewModel">
    <SorryMainView />
</ParentControl>
<ParentControl VM="MultiplayerOpeningViewModel<SorryPlayerItem>">
    <MultiplayerOpeningView P="SorryPlayerItem" />
</ParentControl>
<ParentControl VM="BeginningChooseColorViewModel<EnumColorChoice, SorryPlayerItem>">
    
    <BeginningChooseColorView E="EnumColorChoice" Context="Piece" P="SorryPlayerItem">
        @* if there is another piece, replace with proper piece. *@
        <PawnPiece MainColor="@GetColor(Piece.EnumValue)" />
    </BeginningChooseColorView>
</ParentControl>