@inherits BasicGameView<AdvancedOptionsViewModel>
@if (DataContext == null)
{
    return;
}
<div style="margin-top:5px;">
    <ListChooserBlazor TotalColumns="2" ListPicker="DataContext.Easy1" TextWidth="110" TextHeight="13vh" />
</div>
<div style="margin-top: 20px;">
    <ListChooserBlazor TotalColumns="2" ListPicker="DataContext.Game1" TextWidth="110" TextHeight="13vh" />
</div>
<GameButtonComponent FontSize="20vh" Display="Submit" CommandObject="DataContext.SubmitCommand" />