@inherits BasicGameView<SkuckCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<GridContainer Inline="true" Columns="70vw auto">
    <GridItem>
        <ParentControl VM="SkuckBiddingViewModel">
            <SkuckBiddingView />
        </ParentControl>
        <ParentControl VM="SkuckChoosePlayViewModel">
            <SkuckChoosePlayView />
        </ParentControl>
        <ParentControl VM="SkuckSuitViewModel">
            <SkuckSuitView />
        </ParentControl>
        <div>
            <DeckOfCardsTwoPlayerTrickBlazor T="SkuckCardGameCardInformation" DataContext="_vmData.TrickArea1" />
        </div>
        <div>
            <DeckOfCardsHandBlazor R="SkuckCardGameCardInformation" TargetContainerSize="68vw" AdditionalSpacing="1" Hand="_vmData.PlayerHand1" />
        </div>
        <StackLayout>
            <StackItem>
                <ScoreBoardBlazor P="SkuckCardGamePlayerItem"
                                  UseAbbreviationForTrueFalse="true"
                                  Columns="_scores"
                                  Players="_gameContainer.SaveRoot.PlayerList" />
            </StackItem>
            <StackItem>
                <LabelGridComponent DataContext="_vmData" Labels="_labels" />
            </StackItem>
        </StackLayout>
    </GridItem>
    <GridItem Column="2">
        @foreach (var player in _players)
        {
            <div>
                <RegularCardsPlayerBoardBlazor T="SkuckCardGameCardInformation"
                                           DataContext="player.TempHand" />
            </div>
        }
    </GridItem>
</GridContainer>