@if (GameData == null)
{
    return;
}
@if (GameData.PublicPiles.PileList.Count == 0)
{
    <div style="height: @RealHeight">

    </div>
    return;
}
<CascadingValue Value="GameData.PublicPiles">
    <StackLayout ItemSpacing="0px">
        @foreach (var pile in GameData.PublicPiles.PileList)
        {
            <StackItem>
                <div style="position: relative">
                    <IndividualPileBlazor IndividualPile="pile" />
                    @if (AnimationTag != "" && _animates.CurrentYLocation != -1000 && AnimatePile != null && GameData.PublicPiles.PileList.IndexOf(pile) == _animateIndex)
                    {
                        <div style="position: absolute; @GetTopText">
                            <CardGraphicsBlazor @key="CurrentObject!.Deck" TargetHeight="@RealHeight" DeckObject="CurrentObject!" />
                        </div>
                    }
                </div>
            </StackItem>
        }
    </StackLayout>
</CascadingValue>