@inherits BasicGameView<PassOutDiceGameMainViewModel>
<StackLayout>
    <StackItem>
        <GameBoardBlazor GraphicsData="_graphicsData" TargetHeight="88vh" />
    </StackItem>
    <StackItem>
        <div style="height: 22vh">
            <GameButtonComponent CommandObject="EndCommand" Display="End Turn" />
            <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
        </div>
        <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
    </StackItem>
</StackLayout>