@typeparam D
@if (DeckPile == null)
{
    return;
}
@if (DeckPile.DrawInCenter == false)
{
    <BaseFrameBlazor @key="DeckPile" IsEnabled="DeckPile.IsEnabled" Text="@DeckPile.TextToAppear">
        <div class="drawrelative">
            <VisibleHiddenComponent Visible="_animates!.CurrentYLocation is not -1000">
                <div class="drawabsolute" style=" @GetTopText">
                    @CanvasTemplate!(AnimateDeckImage!)
                </div>
            </VisibleHiddenComponent>
            <FlexibleDeckRenderComponent D="D" DeckObject="DeckPile.CurrentCard">
                @MainTemplate!(DeckPile.CurrentCard)
            </FlexibleDeckRenderComponent>
        </div>
    </BaseFrameBlazor>
}
else
{
    <div style="@GetMarginsForTextCenter()">
        <div class="drawrelative">
            <VisibleHiddenComponent Visible="_animates!.CurrentYLocation is not -1000">
                <div class="drawabsolute" style=" @GetTopText">
                    @CanvasTemplate!(AnimateDeckImage!)
                </div>
            </VisibleHiddenComponent>
            <FlexibleDeckRenderComponent D="D" DeckObject="DeckPile.CurrentCard">
                @MainTemplate!(DeckPile.CurrentCard)
            </FlexibleDeckRenderComponent>
        </div>
    </div>
}