<StackLayout>
    @foreach (var item in DiceList)
    {
        <StackItem>
            <div @onclick="() => OnDiceClick.InvokeAsync(item)">
                <BasicDiceBlazor TargetHeight="@ImageHeight" Dice="item" />
            </div>
        </StackItem>
    }
</StackLayout>