@inherits BasicGameView<PlainBoardGamesMultiplayerMainViewModel>
<p>Welcome to PlainBoardGamesMultiplayer</p>
<GameButtonComponent Display="End Turn" CommandObject="EndCommand" />
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />