<div style="font-size: 1.5rem;">
    <div>
        Due Amount: @Balance
    </div>
    <div>
        @DisplayName
    </div>
    @if (NeedsPlayerList)
    {
        @foreach (var player in Players)
        {
            if (player.AllPlayerStatus == EnumAllPlayerStatus.Accept)
            {
                <div>
                    @player.NickName to pay @player.Debt
                </div>
            }
        }
    }
</div>