@if (PlayerToDisplay is null)
{
    <div>
        No Player Found
    </div>
    return;
}
<BaseFrameBlazor Text="@DisplayName">
    <StackLayout ItemSpacing="0px">
        @{
            var list = CardList;
        }
        @foreach (var item in list)
        {
        <StackItem>
            <CardGraphicsBlazor DeckObject="item" TargetHeight="16vh" />
        </StackItem>
        }
    </StackLayout>
</BaseFrameBlazor>