@if (DataContext!.IsWhoTurn)
{
    <OriginalActionComponent ActionCard="DataContext.ActionCard"
        SelfPlayer="DataContext.GetSelf"
        OpponentPlayer="DataContext.GetOpponent"
        SaveRoot="DataContext.SaveRoot"
        Command="DataContext.GetCommandContainer"
    />
}
else if (DataContext!.ActionCard.ActionCategory == EnumActionCategory.DealBreaker)
{
    <DisplayStolenSetComponent 
        Color="DataContext.SaveRoot.OpponentColorChosen"
        PlayerToDisplay="DataContext.GetSelf" />
}
else if (DataContext!.ActionCard.ActionCategory == EnumActionCategory.SlyDeal)
{
    <div>
        Start Of Sly Deal
    </div>
}
else
{
    <div>
        Not Supported Yet
    </div>
}
<div>
    <GameButtonComponent Display="Accept Action Against Me" CommandObject="AcceptCommand" />
    <GameButtonComponent Display="Play Just Say No" CommandObject="RejectCommand" />
</div>