@if (DataContext!.IsWhoTurn)
{
    <OriginalActionComponent ActionCard="DataContext.ActionCard"
        Players="DataContext.PlayerList"
        SelfPlayer="DataContext.GetSelf"
        OpponentPlayer="DataContext.GetOpponent"
        SaveRoot="DataContext.SaveRoot"
        Command="DataContext.GetCommandContainer"
    />
}
else if (DataContext!.ActionCard.ActionCategory == EnumActionCategory.DealBreaker)
{
    <DisplayStolenSetComponent 
        Color="DataContext.SaveRoot.OpponentColorChosen"
        PlayerToDisplay="DataContext.GetSelf" />
}
else if (DataContext!.ActionCard.ActionCategory == EnumActionCategory.SlyDeal)
{
    <DisplayStolenPropertyComponent PlayerToDisplay="DataContext.GetSelf" />
}
else if (DataContext!.ActionCard.ActionCategory == EnumActionCategory.ForcedDeal)
{
    <DisplayTradeComponent  PlayerToDisplay="DataContext.GetSelf" />
}
else if (DataContext.ActionCard.ActionCategory == EnumActionCategory.Birthday)
{
    <DisplayMiscPaymentComponent Players=DataContext.PlayerList
        ActionCard=DataContext.ActionCard Owed="2" 
        PlayerToDisplay="DataContext.GetSelf" />
}
else if (DataContext.ActionCard.ActionCategory == EnumActionCategory.DebtCollector)
{
    <DisplayMiscPaymentComponent
        Players="DataContext.PlayerList"
        ActionCard="DataContext.ActionCard"
        Owed="5" PlayerToDisplay="DataContext.GetSelf" />
}
else if (DataContext.ActionCard.CardType == EnumCardType.ActionRent && DataContext.ActionCard.AnyColor)
{
    <DisplaySinglePlayerRentComponent Owed="DataContext.SaveRoot!.PaymentOwed"
                                      PlayerToDisplay="DataContext.GetSelf"
                                      RentCategory="@DataContext.SaveRoot.RentCategory" />
}
else if (DataContext.ActionCard.CardType == EnumCardType.ActionRent)
{
    <DisplaySeveralPlayersRentComponent
                                        Players="DataContext.PlayerList"
                                        Owed="DataContext.SaveRoot!.PaymentOwed"
                                        PlayerToDisplay="DataContext.GetSelf"
                                        RentCategory="@DataContext.SaveRoot.RentCategory" />
}
else
{
    <div>
        Action not supported for just say no
    </div>
}
<div>
    <GameButtonComponent Display="Accept Action Against Me" CommandObject="AcceptCommand" />
    <GameButtonComponent Display="Play Just Say No" CommandObject="RejectCommand" />
</div>