<div>
    <HandBlazor TargetContainerSize="80vw" Hand="DataContext!.Bank" />
</div>
<div>
    <HandBlazor TargetContainerSize="80vw" Hand="DataContext!.Properties" />
</div>
<div>
    <HandBlazor TargetContainerSize="80vw" Hand="DataContext!.Payments" />
</div>
<div>
    <GameButtonComponent Display="Start Over" CommandObject="StartOverCommand" />
    <GameButtonComponent Display="Add Payments" CommandObject="AddPaymentsCommand" />
    <GameButtonComponent Display="Finish Payments" CommandObject="FinishPaymentCommand" />
</div>
<div>
    <LabelGridComponent DataContext="DataContext.VMData" Labels="_labels" />
</div>