<div>
    <HandBlazor TargetContainerSize="45vw" Hand="DataContext!.VMData.Bank" />
</div>
<div>
    <HandBlazor TargetContainerSize="45vw" Hand="DataContext!.VMData.Properties" />
</div>
<div>
    <HandBlazor TargetContainerSize="45vw" Hand="DataContext!.VMData.Payments" />
</div>
<div>
    <GameButtonComponent Display="Start Over" CommandObject="StartOverCommand" />
    <GameButtonComponent Display="Add Payments" CommandObject="AddPaymentsCommand" />
    <GameButtonComponent Display="Finish Payments" CommandObject="FinishPaymentCommand" />
</div>
<div>
    <LabelGridComponent DataContext="DataContext.VMData" Labels="_labels" />
</div>
<div>
    <GameButtonComponent Display="Add All Cards For Payment" CommandObject="AddAllCommand" />
    <GameButtonComponent Display="Put Back Selected Cards" CommandObject="PutSelectedBackCommand" />
</div>