<CardGraphicsBlazor TargetHeight="15vh" DeckObject="ActionCard" />
@if (ActionCard!.ActionCategory == EnumActionCategory.DealBreaker)
{
    <div>
        <DisplayStolenSetComponent Color="SaveRoot!.OpponentColorChosen" 
                                   PlayerToDisplay="OpponentPlayer" />
    </div>

}
else if(ActionCard!.ActionCategory == EnumActionCategory.SlyDeal)
{
    <div>
        <DisplayStolenPropertyComponent PlayerToDisplay="OpponentPlayer" />
    </div>
}
else if (ActionCard.ActionCategory == EnumActionCategory.ForcedDeal)
{
    <div>
        <DisplayTradeComponent PlayerToDisplay="OpponentPlayer" />
    </div>
}
else
{
    <div>Not supported for now</div>
}