<CardGraphicsBlazor TargetHeight="20vh" DeckObject="ActionCard" />
@if (ActionCard!.ActionCategory == EnumActionCategory.DealBreaker)
{
    <div>
        <DisplayStolenSetComponent Color="SaveRoot!.OpponentColorChosen" 
                                   PlayerToDisplay="OpponentPlayer" />
    </div>
    
}
else
{
    <div>Only deal breakers are supported for now</div>
}