<div>
    <HandBlazor TargetContainerSize="50vw" TargetImageSize=12vh Hand="DataContext!.VMData.YourCompleteSets.TempHand" />
</div>


<StackLayout Height="60vh" ItemSpacing="20px">
    <SimpleRepeater HowMany="10" Context="index">
        <StackItem>
            @{
                var pile = GetHand(index - 1);
            }
            <BaseHandBlazor D="DealCardGameCardInformation" Hand="GetHand(index - 1)"
                            HandType="EnumHandList.Vertical"
                            AdditionalSpacing="1"
                            TargetImageSize="12vh"
                            Divider="1"
                            TargetContainerSize="50vh"
                            PaddingRight="10"
                            Context="item">

                <CardGraphicsBlazor CommandObject="pile.ObjectSingleClickCommand"
                                    CommandParameter="item"
                                    TargetHeight="12vh"
                                    DeckObject="item" />
            </BaseHandBlazor>
        </StackItem>
    </SimpleRepeater>
</StackLayout>
<div>
    <GameButtonComponent Display="Cancel" CommandObject="CancelCommand" />
    <GameButtonComponent Display="Reset" CommandObject="ResetCommand" />
    <GameButtonComponent Display="Put To Temporary Hand" CommandObject="PutToTemporaryHandCommand" />
    <GameButtonComponent Display="Finish" CommandObject="FinishCommand" />
</div>