@if (DataContext!.NeedsRentPicker)
{
    <EnumPickerBlazor E="EnumRentCategory" Context="piece" Rows=3 TargetSize="10vh" ListPicker="DataContext.VMData.RentPicker">
        <RentOptionGraphicsComponent RentCategory="piece" />
    </EnumPickerBlazor>
}
<div style="background-color: @DataContext.ColorChosen.WebColor; font-size: 4rem;font-family: Lato; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;">
    Rent Charged: @DataContext.RentOwed
</div>
<div>
    <GameButtonComponent Display="Cancel" CommandObject="CancelCommand" />
    <GameButtonComponent Display="Collect Rent" CommandObject="ProcessRentCommand" />
</div>