@if (GameData == null || TestData == null || BasicData == null)
{
    if (GameData == null)
    {
        <div>No Game Data</div>
    }
    if (TestData == null)
    {
        <div>No Test Data</div>
    }
    if (BasicData == null)
    {
        <div>No Basic Data</div>
    }
    return;
}
<CascadingValue Value="TargetHeight">
    <ParentControl VM="ConcentrationMainViewModel">
        <ConcentrationMainView />
    </ParentControl>
    <ParentControl VM="MultiplayerOpeningViewModel<ConcentrationPlayerItem>">
        <MultiplayerOpeningView P="ConcentrationPlayerItem" />
    </ParentControl>
</CascadingValue>