@using BasicGamingUIBlazorLibrary.BasicControls.YahtzeeControls
@using BasicGameFrameworkLibrary.SpecializedGameTypes.YahtzeeStyleHelpers.ViewModels
@using BasicGameFrameworkLibrary.SpecializedGameTypes.YahtzeeStyleHelpers.Data
@using BlazorMVVMHelpersLibrary;
@using aa = BasicGameFrameworkLibrary.DIContainers.Helpers;
@using BasicGameFrameworkLibrary.SpecializedGameTypes.YahtzeeStyleHelpers.Containers
@typeparam D
@inherits BasicGameView<YahtzeeMainViewModel<D>>
@{ 
    _scoreContainer = aa.Resolver!.Resolve<ScoreContainer>();
}
<ParentControl VM="YahtzeeScoresheetViewModel<D>">
    <StackLayout Orientation="EnumOrientation.Horizontal" ItemSpacing="5px">
        <RefreshComponent CanRender="_scoreContainer.RowList.Count > 0">
            <YahtzeeGameScoresheet D="D"
                                   CommandContainer="DataContext!.CommandContainer"
                                   ScoreContainer="GetContainer()"
                                   BottomDescriptionWidth="_bottomDescriptionWidth" />
        </RefreshComponent>
        <StackItem>
            <div>
                <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
            </div>
            <div>
                <ScoreBoardBlazor P="YahtzeePlayerItem<D>" Columns="@_scores" Players="@DataContext!.PlayerList" />
            </div>
            <GameButtonComponent CommandObject="RollCommand" StartOnNewLine="true" Display="Roll Dice" />
            <DiceListConrolBlazor D="D" Cup="@DataContext!.GetCup" TargetHeight="14vh" />
        </StackItem>
    </StackLayout>
</ParentControl>