@inherits BasicGameView<SnagCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout ItemSpacing="10px">
    <StackItem>
        <DeckOfCardsHandBlazor Rotated="true"
                               HandType="EnumHandList.Vertical"
                               Hand="_vmData.Bar1"
                               R="SnagCardGameCardInformation" />
    </StackItem>
    <StackItem>
        <DeckOfCardsSeveralPlayersTrickBlazor T="SnagCardGameCardInformation"
                                              ExtraLongSecondColumn="true"
                                              P="SnagCardGamePlayerItem"
                                              B="SnagTrickObservable"
                                              DataContext="_vmData.TrickArea1" />
        <StackLayout>
            <StackItem>
                <DeckOfCardsHandBlazor R="SnagCardGameCardInformation" Hand="_vmData.Human1" />
            </StackItem>
            <StackItem>
                <DeckOfCardsHandBlazor R="SnagCardGameCardInformation" Hand="_vmData.Opponent1" />
            </StackItem>
        </StackLayout>
        <div>
            <DeckOfCardsHandBlazor R="SnagCardGameCardInformation" Hand="_vmData.PlayerHand1" />
        </div>
        <div>
            <LabelGridComponent DataContext="_vmData" Labels="_labels" />
        </div>
        <div>
            <ScoreBoardBlazor P="SnagCardGamePlayerItem"
                              Columns="_scores"
                              Players="_gameContainer.SaveRoot.PlayerList" />
        </div>
    </StackItem>
</StackLayout>