@inherits BasicGameView<DealCardGameMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
@{
    bool isTesting = false;
}
@if (isTesting)
{
    <TestCardComponent />
    return;
}
<GridContainer Rows="@Rows" ColumnGap="5px" RowGap=5px Columns="auto 35vw 1fr">
    <GridItem Row="1" Column="1">
        <StackLayout>
            <StackItem>
                <DrawPileBlazor DeckPile="_vmData.Deck1" />
            </StackItem>
            <StackItem>
                <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
            </StackItem>
        </StackLayout>
    </GridItem>
    <GridItem Column="2" Row="1">
        <HandBlazor TargetContainerSize="35vw" Hand="_vmData.PlayerHand1" />
    </GridItem>
    <GridItem Row="2" Column="1" ColumnSpan="2">
        <div>
            <LabelGridComponent DataContext="_vmData" Labels="_labels" />
        </div>
        <div>
            <ScoreBoardBlazor P="DealCardGamePlayerItem"
                              Columns="_scores"
                              Players="_gameContainer.SaveRoot.PlayerList" />
        </div>
    </GridItem>
    <GridItem Column="3" Row="1" RowSpan="3">
        <CompletePlayerSetsComponent Players="GetPlayers()" />
    </GridItem>

</GridContainer>



