@inherits BasicGameView<Spades4PlayerMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<p>Welcome to Spades4Player</p>
<StackLayout>
    <DeckOfCardsDrawPileBlazor R="Spades4PlayerCardInformation" DeckPile="_vmData.Deck1" />
</StackLayout>
<div>
    <DeckOfCardsTwoPlayerTrickBlazor T="Spades4PlayerCardInformation" DataContext="_vmData.TrickArea1" />
</div>
<div>
    <DeckOfCardsHandBlazor R="Spades4PlayerCardInformation" Hand="_vmData.PlayerHand1" />
    @*<HandBlazor Hand="_vmData.PlayerHand1" />*@
</div>
<div>
    <LabelGridComponent DataContext="_vmData" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="Spades4PlayerPlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
</div>