@inherits BasicGameView<Spades4PlayerMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <ScoreBoardBlazor P="Spades4PlayerPlayerItem"
                          Columns="_scores"
                          Players="_gameContainer.SaveRoot.PlayerList" />
    </StackItem>
    <StackItem>
        <LabelGridComponent DataContext="_vmData" Labels="_labels" />
    </StackItem>
    <StackItem>
        @if (DataContext.GameStatus == EnumGameStatus.Bidding)
        {
            <BiddingComponent DataContext="DataContext" />
        }
        else
        {
            <DeckOfCardsSeveralPlayersTrickBlazor P="Spades4PlayerPlayerItem"
                                                  B="SpadesTrickAreaCP"
                                                  T="Spades4PlayerCardInformation"
                                                  DataContext="_vmData.TrickArea1"
                                                  />
        }
    </StackItem>
</StackLayout>
<div>
    <DeckOfCardsHandBlazor R="Spades4PlayerCardInformation" Hand="_vmData.PlayerHand1" />
</div>