@inherits BasicGameView<MonopolyCardGameMainViewModel>
@if (Status == EnumManuelStatus.None)
{
    <div>Cannot use monopoly finder because the manuel status is none.  Rethink</div>
    return;
}
<div>
    <ShowCardBlazor />
</div>
<div>
    <HandBlazor Hand="Model!.TempHand1" TargetContainerSize="95vw" />
</div>
<div>
    @GetInstructions()
</div>
<div>
    <GameButtonComponent Display="Put Back"
                         CommandObject="PutBackCommand" />
    @if (Status == EnumManuelStatus.OrganizingCards)
    {
        <GameButtonComponent Display="Finish Organizing Cards" CustomCallBack="OnOrganizedCards" />
    }
    else if (Status == EnumManuelStatus.Final || Status == EnumManuelStatus.OthersLayingDown)
    {
        <GameButtonComponent CommandObject="ManuelCommand" Display="Play Monopolies" />
    }
</div>
<TempSetsBlazor TargetContainerSize="40vh" Divider="1.5" TempPiles="Model.TempSets1" />