@inherits BasicGameView<MonopolyCardGameMainViewModel>
@if (Status == EnumManuelStatus.None)
{
    <div>Cannot use monopoly finder because the manuel status is none.  Rethink</div>
    return;
}
<div>
    <ShowCardBlazor />
</div>
<div>
    <HandBlazor Hand="_vmData!.TempHand1" TargetContainerSize="80vw" />
</div>
<div>

</div>
<div>
    <GameButtonComponent Display="Put Back"
                         CommandObject="PutBackCommand" />
    @if (Status == EnumManuelStatus.OrganizingCards)
    {
        <GameButtonComponent Display="Finish Organizing Cards" CustomCallBack="OnOrganizedCards" />
    }
</div>
<TempSetsBlazor TargetContainerSize="40vh" Divider="1.5" TempPiles="_vmData.TempSets1" />