
<div @onclick="ChooseClick">
    <BaseFrameBlazor Text=@GetText>
        @for (int i = 0; i < HowMany; i++)
        {
            <CardGraphicsBlazor DeckObject="RailRoad" TargetHeight="22vh" />
        }
    </BaseFrameBlazor>
</div>