@using BasicGameFrameworkLibrary.Blazor.BasicControls.SpecializedFrames.Hands
@if (TempPiles == null )
{
    return;
}
@if (Mode == EnumMode.Frame)
{
    <StackLayout ItemSpacing="10px" Orientation="EnumOrientation.Horizontal">
        @foreach (var pile in TempPiles.SetList)
        {
            <StackItem>
                <BaseHandBlazor D="MonopolyCardGameCardInformation" Hand="pile"
                                HandType="EnumHandList.Vertical"
                                AdditionalSpacing="@AdditionalSpacing"
                                Divider="@Divider"
                                TargetContainerSize="@TargetContainerSize"
                                PaddingRight="40"
                                Context="item">
                    <CardGraphicsBlazor CommandObject="pile.ObjectSingleClickCommand"
                                        CommandParameter="item"
                                        DeckObject="item" />

                    />
                </BaseHandBlazor>
            </StackItem>
        }
    </StackLayout>
    return;
}
<div style="height: 40vh">
    <LeftOverLayout>
        <MainContent>
            @foreach (var pile in TempPiles.SetList)
            {
                @if (pile.HandList.Count > 0)
                {
                    <div style="margin-bottom: -10px;">
                        <TemporaryCardsBlazor Hand="pile"
                                              AdditionalSpacing="-4"
                                              HandType="EnumHandList.Horizontal"
                                              TargetImageSize="10vh"
                                              Divider="1.4"
                                              TargetContainerSize="45vw"
                                              Context="item">
                            <CardGraphicsBlazor CommandObject="pile.ObjectSingleClickCommand"
                                                CommandParameter="item"
                                                DeckObject="item" />
                        </TemporaryCardsBlazor>
                    </div>
                }
            }
        </MainContent>
    </LeftOverLayout>
    
</div>