@inherits BasicGameView<YachtRaceMainViewModel>
<div style="height: 22vh">
    <GameButtonComponent CommandObject="RollCommand" Display="Roll Dice" />
    <GameButtonComponent CommandObject="EndCommand" Display="Has 5 Of A Kind" />
    <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
</div>
<LabelGridComponent DataContext="DataContext.VMData" Labels="_labels" />
<div>
    <ScoreBoardBlazor P="YachtRacePlayerItem" Columns="@_scores" Players="@DataContext!.PlayerList" />
</div>