@inherits BasicGameView<CrazyEightsMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <DeckOfCardsDrawPileBlazor R="RegularSimpleCard" DeckPile="_vmData.Deck1" />
    </StackItem>
    <StackItem>
        <DeckOfCardsSingleMiscPileBlazor R="RegularSimpleCard" SinglePile="_vmData.Pile1" />
    </StackItem>
</StackLayout>
<div>
    <DeckOfCardsHandBlazor R="RegularSimpleCard" TargetContainerSize="95vw" Hand="_vmData.PlayerHand1" />
</div>
<div>
    <LabelGridComponent DataContext="@_vmData" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="CrazyEightsPlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
</div>
<ParentControl VM="ChooseSuitViewModel">
    <ChooseSuitView />
</ParentControl>