@inherits BasicGameView<DutchBlitzMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<CascadingValue Value="_vmData">
    <div>
        <ScoreBoardBlazor P="DutchBlitzPlayerItem"
                          Columns="_scores"
                          Players="_gameContainer.SaveRoot.PlayerList" />
    </div>
    <div>
        <PublicPilesBlazor />
    </div>
    <StackLayout>
        <StackItem>
            <DrawPileBlazor DeckPile="_vmData.Deck1" />
        </StackItem>
        <StackItem>
            <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
        </StackItem>
        <StackItem>
            <GameButtonComponent Display="Dutch" CommandObject="DutchCommand" />
        </StackItem>
        <StackItem>
            <LabelGridComponent DataContext="_vmData" Labels="_labels" />
        </StackItem>
    </StackLayout>
    <StackLayout ItemSpacing="0px">
        <StackItem>
            <MultiplePilesBlazor Piles="_vmData.DiscardPiles" />
        </StackItem>
        <StackItem>
            <MultiplePilesBlazor Piles="_vmData.StockPile.StockFrame" />
        </StackItem>
    </StackLayout>
</CascadingValue>