@if (GameData == null || TestData == null || BasicData == null)
{
    if (GameData == null)
    {
        <div>No Game Data</div>
    }
    if (TestData == null)
    {
        <div>No Test Data</div>
    }
    if (BasicData == null)
    {
        <div>No Basic Data</div>
    }
    return;
}
<CascadingValue Value="TargetHeight">
    <ParentControl VM="TeeItUpMainViewModel">
        <TeeItUpMainView />
    </ParentControl>
    <ParentControl VM="MultiplayerOpeningViewModel<TeeItUpPlayerItem>">
        <MultiplayerOpeningView P="TeeItUpPlayerItem" />
    </ParentControl>
</CascadingValue>