@inherits BasicGameView<MilkRunMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<StackLayout>
    <StackItem>
        <DrawPileBlazor DeckPile="_vmData.Deck1" />
    </StackItem>
    <StackItem>
        <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
    </StackItem>
    <StackItem>
        @foreach (var player in _players)
        {
            string name;
            if (player.NickName == _gameContainer.PlayerList!.GetSelf().NickName)
            {
                name = "Yours:";
            }
            else
            {
                name = "Opponent:";
            }
            <div style="text-align: center">
                @name
            </div>
            <GridTwoByTwo ColumnGap="10px" RowGap="10px" Inline="true">
                <GridItem>
                    <MultiplePilesBlazor AnimationTag="@AnimationPileName(player, EnumMilkType.Strawberry)" Piles="player.StrawberryPiles" />
                </GridItem>
                <GridItem Column="2">
                    <MultiplePilesBlazor AnimationTag="@AnimationPileName(player, EnumMilkType.Chocolate)" Piles="player.ChocolatePiles" />
                </GridItem>
                <GridItem Row="2" Column="1">
                    <div style="text-align: center; color: deeppink">
                        Strawberry Deliveries @player.StrawberryDeliveries
                    </div>
                </GridItem>
                <GridItem Row="2" Column="2">
                    <div style="text-align: center; color: chocolate">
                        Chocolate Deliveries @player.ChocolateDeliveries
                    </div>
                </GridItem>
            </GridTwoByTwo>
        }
    </StackItem>
</StackLayout>
<div style="margin: auto; width: 70%">
    <div>
        <HandBlazor Hand="_vmData.PlayerHand1" />
    </div>
    <div>
        <LabelGridComponent DataContext="_vmData" Labels="_labels" />
    </div>
</div>