@typeparam B
<ListChooserBlazor ListPicker="GameContainer!.PlayerPicker" />
<div style="margin-top: 20px">
    <GameButtonComponent Display="@DataContext!.Text" FontSize="12vh" CommandObject="DataContext.SubmitCommand" />
</div>
