@inherits BasicDeckView<PokerMainViewModel>
@if (GlobalClass.PokerList == null)
{
    return;
}
<StackLayout ItemSpacing="0px">
    @foreach (var card in GlobalClass.PokerList)
    {
        <StackItem>
            <div>
                <FlexibleDeckRenderComponent D="PokerCardInfo" DeckObject="card.CurrentCard">
                    <DeckOfCardsImageBlazor CommandObject="DataContext!.HoldUnholdCommand" DeckObject="card.CurrentCard" TargetHeight="@HeightString" CommandParameter="card"  R="PokerCardInfo" />
                </FlexibleDeckRenderComponent>
            </div>
            <div>
                <b>@card.Text</b>
            </div>
        </StackItem>
     
    }
</StackLayout>
