@inherits BasicGameView<RageColorViewModel>
@if (DataContext is null || _vmData is null)
{
    return;
}
<EnumPickerBlazor E="EnumColor" Context="Piece" ListPicker="DataContext.Model.Color1">
    <CheckerPiece MainColor="@GetColor(Piece)" />
</EnumPickerBlazor>
<div>
    <HandBlazor Hand="DataContext.Model.PlayerHand1" />
</div>
<div>
    <LabelGridComponent DataContext="_vmData"
                        Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="RageCardGamePlayerItem"
                      Columns="_scores"
                      Players="DataContext.GameContainer.PlayerList" />
</div>