@inherits BasicGameView<LottoDominosMainViewModel>
<ParentControl VM="ChooseNumberViewModel">
    <ChooseNumberView />
</ParentControl>
<ParentControl VM="MainBoardViewModel">
    <MainBoardView />
</ParentControl>
<div>
    <LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="LottoDominosPlayerItem" Players="DataContext!.GetPlayers" Columns="_scores" />
</div>