@if (DataContext == null)
{
    return;
}
<BaseFrameBlazor FullFrame="true" PaddingHeight="10" Text="@TempSetName">
    @if (DataContext.HandList.Count == 0)
    {
        <div style="height: @TargetHeight">

        </div>
    }
    else
    {
        <StackLayout>
            @foreach (var dice in DataContext.HandList)
            {
                <StackItem>
                    <RummyGraphicsBlazor DiceInfo="@dice" OnClick="OnClickAsync" TargetHeight="@TargetHeight" />
                </StackItem>
            }
        </StackLayout>
    }
    <div>
        <GameButtonComponent Display="Place Tiles" CommandObject="DataContext.BoardCommand" />
    </div>
</BaseFrameBlazor>